In [101]:
import pandas as pd
import numpy as np

In [102]:
df = pd.read_csv('ai_job_dataset.csv')
df

,job_id,job_title,salary_usd,salary_currency,experience_level,employment_type,company_location,company_size,employee_residence,remote_ratio,required_skills,education_required,years_experience,industry,posting_date,application_deadline,job_description_length,benefits_score,company_name
0,AI00001,AI Research Scientist,90376,USD,SE,CT,China,M,China,50,"Tableau, PyTorch, Kubernetes, Linux, NLP",Bachelor,9,Automotive,2024-10-18,2024-11-07,1076,5.9,Smart Analytics
1,AI00002,AI Software Engineer,61895,USD,EN,CT,Canada,M,Ireland,100,"Deep Learning, AWS, Mathematics, Python, Docker",Master,1,Media,2024-11-20,2025-01-11,1268,5.2,TechCorp Inc
2,AI00003,AI Specialist,152626,USD,MI,FL,Switzerland,L,South Korea,0,"Kubernetes, Deep Learning, Java, Hadoop, NLP",Associate,2,Education,2025-03-18,2025-04-07,1974,9.4,Autonomous Tech
3,AI00004,NLP Engineer,80215,USD,SE,FL,India,M,India,50,"Scala, SQL, Linux, Python",PhD,7,Consulting,2024-12-23,2025-02-24,1345,8.6,Future Systems
4,AI00005,AI Consultant,54624,EUR,EN,PT,France,S,Singapore,100,"MLOps, Java, Tableau, Python",Master,0,Media,2025-04-15,2025-06-23,1989,6.6,Advanced Robotics
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
14995,AI14996,Robotics Engineer,38604,USD,EN,FL,Finland,S,Finland,50,"Java, Kubernetes, Azure",Bachelor,1,Energy,2025-02-06,2025-03-25,1635,7.9,Advanced Robotics
14996,AI14997,Machine Learning Researcher,57811,GBP,EN,CT,United Kingdom,M,United Kingdom,0,"Mathematics, Docker, SQL, Deep Learning",Master,0,Government,2024-10-16,2024-10-30,1624,8.2,Smart Analytics
14997,AI14998,NLP Engineer,189490,USD,EX,CT,South Korea,L,South Korea,50,"Scala, Spark, NLP",Associate,17,Manufacturing,2024-03-19,2024-05-02,1336,7.4,AI Innovations
14998,AI14999,Head of AI,79461,EUR,EN,FT,Netherlands,M,Netherlands,0,"Java, Computer Vision, Python, TensorFlow",PhD,1,Real Estate,2024-03-22,2024-04-23,1935,5.6,Smart Analytics
14999,AI15000,Computer Vision Engineer,56481,USD,MI,PT,Austria,S,Austria,50,"Scala, Azure, Deep Learning, GCP, Mathematics",PhD,2,Technology,2024-07-18,2024-08-10,2492,7.6,AI Innovations

In [ ]:
# Agrupar por empresa e calcular a média salarial e quantidade de funcionários
group_company_salary = df.groupby('company_name').agg(
    average_salary=('salary_usd', 'mean'),
    num_employees=('salary_usd', 'count')
).reset_index()

# Ordenar do maior para o menor salário médio
group_company_salary = group_company_salary.sort_values(by='average_salary', ascending=False)

# Formatar salário com duas casas decimais e separador de milhar
group_company_salary['average_salary'] = group_company_salary['average_salary'].map('{:,.2f}'.format)

print(group_company_salary)

import matplotlib.pyplot as plt
import seaborn as sns

# Ajuste o tamanho do gráfico
plt.figure(figsize=(10, 6))

# Gráfico de barras da média salarial
sns.barplot(
    x='average_salary',
    y='company_name',
    data=group_company_salary.sort_values(by='average_salary', ascending=True)
)

plt.title('Average Salary by Company')
plt.xlabel('Average Salary (USD)')
plt.ylabel('Company Name')

plt.show()

                  company_name average_salary  num_employees
15                TechCorp Inc     121,268.36            980
11          Neural Networks Co     118,660.36            922
3              Autonomous Tech     116,788.31            918
10  Machine Intelligence Group     116,784.37            922
4           Cloud AI Solutions     116,744.53            951
9               Future Systems     116,271.16            960
7            DeepTech Ventures     115,812.20            897
13       Quantum Computing Inc     115,322.49            960
6               DataVision Ltd     115,296.63            909
12          Predictive Systems     114,546.67            947
14             Smart Analytics     114,065.21            927
2        Algorithmic Solutions     113,609.09            885
1            Advanced Robotics     113,368.84            925
8   Digital Transformation LLC     112,815.54            961
5          Cognitive Computing     112,675.08            972
0               AI Innovations     111,511.77            964

In [182]:
# Contar valores únicos na coluna 'company_name' (exemplo de nome)., número de empresas 
qtd_industrias = df['company_name'].nunique()
print(qtd_industrias)

# Contar valores únicos na coluna 'industry' (exemplo de nome), número de setores
qtd_setores = df['industry'].unique()
print(len(qtd_setores))

16
15

In [183]:
experience_level_en = df.query('experience_level == "EN"')
experience_level_mi = df.query('experience_level == "MI"')
experience_level_se = df.query('experience_level == "SE"')
experience_level_ex = df.query('experience_level == "EX"')

count_experience_level_en = len(experience_level_en)
count_experience_level_mi = len(experience_level_mi)
count_experience_level_se = len(experience_level_se)
count_experience_level_ex = len(experience_level_ex)

print(count_experience_level_en)
print(count_experience_level_mi)
print(count_experience_level_se)
print(count_experience_level_ex)

print(count_experience_level_en + count_experience_level_mi + count_experience_level_se + count_experience_level_ex)

3718
3781
3741
3760
15000

In [184]:
# Contagem de cada nível de experiência
contagem_experiencia = df['experience_level'].value_counts()
print(contagem_experiencia)

experience_level
MI    3781
EX    3760
SE    3741
EN    3718
Name: count, dtype: int64

In [185]:
# Agrupando por cargo e calculando a média salarial
media_salarial = df.groupby('job_title')['salary_usd'].mean().reset_index()

# Ordenando do menor para o maior salário
media_salarial = media_salarial.sort_values(by='salary_usd', ascending=False)

# Imprimindo os resultados
for index, row in media_salarial.iterrows():
    print(f'{row["job_title"]}: ${row["salary_usd"]:.2f}')

AI Specialist: $120570.76
Machine Learning Engineer: $118827.92
Head of AI: $118542.97
AI Research Scientist: $117897.93
AI Architect: $117436.51
Robotics Engineer: $116470.79
Principal Data Scientist: $116305.22
Research Scientist: $116066.50
Data Engineer: $115970.72
Data Scientist: $115819.01
ML Ops Engineer: $115431.34
AI Product Manager: $114680.91
AI Software Engineer: $114273.20
Deep Learning Engineer: $113725.63
AI Consultant: $113671.87
Computer Vision Engineer: $113472.71
NLP Engineer: $112670.94
Machine Learning Researcher: $112621.75
Autonomous Systems Engineer: $111396.56
Data Analyst: $111321.18

In [186]:
# Filtrando funcionários que trabalham 100% remoto
employees_work_another_country = df.query('remote_ratio == 100')

# Contando quantos trabalham 100% remoto
total_remote = len(employees_work_another_country)

# Total geral de funcionários
total_employees = len(df)

# Calculando a porcentagem que trabalha remoto
mean_work_remote = (total_remote / total_employees) * 100

print(f'{mean_work_remote:.2f}% of employees work 100% remotely.')

32.80% of employees work 100% remotely.

In [187]:
# Filtrando funcionários que trabalham parte do tempo remoto
part_time = df.query('remote_ratio == 50')

# Contando quantos são
total_part_time = len(part_time)

# Contando os outros
total_employees = len(df)

# Calculando a % de trabalhadores meio perioso
mean_work_part_time = (total_part_time / total_employees) * 100

print(f'{mean_work_part_time:.2f}% of employees work part of time remote.')

33.37% of employees work part of time remote.

In [188]:
# Filtrando funcionários que trabalham parte do tempo remoto e 100% remoto 
part_time = df.query('remote_ratio == 50')
employees_work_another_country = df.query('remote_ratio == 100')

# contando o número de funcionarios
count_par_time = len(part_time)
count_employees_work_another_country = len(employees_work_another_country)
sum_of_all = count_par_time + count_employees_work_another_country

# Todos os funcionarios
all_employees = len(df)

# Porcentagem de funcionarios presencial 
face_to_face_team = (all_employees - sum_of_all)
percentage = (face_to_face_team / all_employees ) * 100

print(f'{percentage:.2f}% of employees work full time in the industry.')

33.83% of employees work full time in the industry.

In [189]:
num_vacancies = df['job_title'].unique()
print(f'number of services {len(num_vacancies)}')
print(df['job_title'].unique())

number of services 20
['AI Research Scientist' 'AI Software Engineer' 'AI Specialist'
 'NLP Engineer' 'AI Consultant' 'AI Architect' 'Principal Data Scientist'
 'Data Analyst' 'Autonomous Systems Engineer' 'AI Product Manager'
 'Machine Learning Engineer' 'Data Engineer' 'Research Scientist'
 'ML Ops Engineer' 'Robotics Engineer' 'Head of AI'
 'Deep Learning Engineer' 'Data Scientist' 'Machine Learning Researcher'
 'Computer Vision Engineer']